.toggle {
  display: flex;
  justify-content: space-between;
  border: 3px solid var(--jadegreen);
  border-radius: 1rem;
  position: relative;
  padding: 2px;
  cursor: pointer;
}
.toggle > * {
  width: 1rem;
  height: 1rem;
  color: var(--jadegreen);
}

.t-button {
  background: var(--jadegreen);
  border-radius: 100%;
  position: absolute;
}
